*{
  font-family: 'lato','sans-serif';
}

body{
  background-color: #DFEFF0
}

.login-div{
  display: flex-wrap;
  margin: 100px auto;
  width: 350px;
  background-color: #F8F9F9;
  padding:60px;
  border-radius: 30%
}

.logo{
  background-color: #DFEFF0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.logo img {
  width: 100%;
}

.title, .subtitle{
  text-align: center;
  color: #505050;
}

.title{
  font-weight: bolder;
  font-size: 35px;
}

.subtitle{
  font-size: 16px;
}

.form{
  
  width: 100%;
  margin-top:30px;
  
}

.form input{
  font-size: 18px;
  padding: 10px 20px 10px 5px;
  outline: none;
  border: none;
  background: none;  
}

.username, .password{
  display: block;
  border-radius:30px;
  border:1px solid rgba(0,0,0,0.2);
  padding: 15px;
  margin: 10px 0;
}

.options{
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  padding: 5px 0px;
  margin-bottom: 30px;
  color: #505070;
}

button.sign-in{
  width: 100%;
  padding: 12px 10px;
  border: none;
  background-color: #DFEFF0;
  border-radius: 30px;
  color: #505050;
  margin-bottom: 5px;
}

.sign-up {
  text-align: center;
}

a{
  text-decoration: none;
  color: #505050
}

.form svg{
  height: 25px ;
  margin-bottom: -5px;
  margin-left: 10px;
  margin-right: 5px;
}